/* General */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
  }
  
  header {
    background-color: rgb(255, 182, 193);
    text-align: center;
    padding: 1em;
  }
  
  h1 {
    color: #ffffff;
  }
  
  main {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 20px;
  }
  
  /* Estilo de las recetas */
  .receta {
    display: inline-block;
    background-color: #fff;
    border: 2px solid #ddd;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    width: 300px;
    margin: 10px;
    padding: 15px;
    transition: transform 0.3s;
  }
  
  .receta:hover {
    transform: scale(1.05);
  }
  
  .receta img {
    display: block;
    width: 100%;
    height: auto;
    border-radius: 5px;
  }
  
  /* Colores personalizados */
  .pastel-vainilla {
    border-color: #f8de7e;
  }
  
  .pastel-chocolate {
    border-color: #d2691e;
  }
  
  /* Ingredientes y procedimiento */
  .ingredientes {
    list-style: square;
    padding-left: 20px;
  }
  
  .procedimiento {
    color: #555;
  }
  
  /* Pseudoclases */
  h2:hover {
    color: #ff4500;
    cursor: pointer;
  }
  
  h2:active {
    color: #ff6347;
  }
  